<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Web Test-Suite" >
    <test name="Navigasyon Test" >
        <groups>
            <run>

            </run>
        </groups>
        <classes>
            <class name="com.tuttur.test.web.NavigationTest"></class>
            <class name="com.tuttur.test.web.LoginTest"></class>
            <class name="com.tuttur.test.web.RegisterTest"></class>
            <class name="com.tuttur.test.web.ForgotPassTest"></class>
            <class name="com.tuttur.test.web.DashboardTest"></class>
            <class name="com.tuttur.test.web.CampaignsTest"></class>
            <class name="com.tuttur.test.web.BetSlipTest"></class>
        </classes>
    </test>
</suite>
