<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Web Test-Suite" >
    <test name="Navigasyon Test" >
        <classes>
            <class name="com.tuttur.test.NavigationTest"></class>
        </classes>
    </test>
    <test name="Login Test">
        <parameter name="username" value="emresy11"/>
        <parameter name="password" value="emre12345"/>
        <classes>
            <class name="com.tuttur.test.LoginTest"></class>
        </classes>
    </test>
</suite>
